<header>
  <!--
    TODO: Create a Menu with this items: [LOGO] [Guides] [Statistics] [Charts] [Search]

    Guides:
      - What is HEX
      - What is T-Share
      - What is "Big pay day" (BPD)
      - What is Adoption Amplifier (AA)
      - ...

    Statistics:
      - ...

    Charts:
      NOTES:
        Remember to add "Big pay day" vertical line when is needed.
      User:
        - Unique address (with anymount of HEX). Type of chart: Line.
      Price:
        - HEX and T-Share price (in USD). Type of chart: Area.
      Growth:
        - Share ratio (base HEX). Type of chart: Line.
      Stake:
        - Open stakes per day. Type of chart: Area.
        - Stakes over 15 years. Type chart: Bar.
        - Average stack duration by Stacker League (Poseidon, Whale, Shark, Dolphin, ...)
      Payout:
        - Daily payout per T-Share. Type of chart: Line.
        - HEX Penalties by end date.
  -->
</header>
